@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'ok';
  src: url(/Users/bricebammez/Desktop/malick/wab/PORTFOLIO1/portfolio/src/assets/font/okaluera/Okaluera.otf) format("opentype");
}

@font-face {
  font-family: 'un';
  src: url(/Users/bricebammez/Desktop/malick/wab/PORTFOLIO1/portfolio/src/assets/font/aaargh/Aaargh.ttf);
}

@font-face {
  font-family: 'test';
  src: url(/Users/bricebammez/Desktop/malick/wab/PORTFOLIO1/portfolio/src/assets/font/Resolve-Light.otf) format("opentype");
}

* {
box-sizing: border-box;
}




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: 0;
  
}

.section {
  min-height: 100vh;
  padding: 20px;
}

.app {
  scroll-behavior: smooth; 
}

main {
  scrollbar-width: 0;
  filter: contrast(1000%) brightness(100%);
  position: static;
  background: 
	linear-gradient(0deg, rgba(60,67,1,0.44), rgba(144,137,100,0.75)),
	radial-gradient(circle at 50% 50%, rgba(162,11,11,0.11), rgba(56,92,96,0.58)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}



img {
  filter: contrast(10%) brightness(100%);
}

.logo {


  filter: contrast(10%) brightness(100%);

}

h1 {
   font-family: 'test';
  /* font-optical-sizing: auto;
  font-weight: 100; */
 
 
  /* transform: translate(-50%, -50%); 
  color: rgb(237, 244, 243); */
  z-index: 10; 
} 



h2 {

  font-optical-sizing: auto;
  font-weight: 100;

 
  color: rgb(237, 244, 243);
  z-index: 10; 
}

h3 {

  font-family: 'un';
}